@media ( min-width: 992px )
  .btn:hover, .btn:focus
    background-color: $yellow

  .menu__item:hover
    & > a::before
      width: 100%
    &:last-child a
      // color: $white
  .menu__list>li:hover .menu__sub-list
    display: flex
    left: 0
    // top: 60px
    // opacity: 1
    // visibility: visibility
  .menu__list>li:hover .header
    background-color: #333

  .header__btn:hover .btn-image
    margin-left: 15px
    margin-right: 7px
  .header__btn:hover
    background-color: $text

  .news__btn-fill:hover,
  .material__btn-fill:hover
    transform: translateY(4px)

  .footer__btn:hover .btn-image
    margin-left: 15px
  .footer__btn:hover
    background-color: $text

