$bgc: #F6F6F6
$white: #FFFFFF
$black: #000000
$text: #2F2F2F
$yellow: #FFE058

// добавлять и удалять
$gradient: linear-gradient(90deg, #FFE259 0%, transparent) #FFA751

%body
  font-family: 'NotoSans', sans-serif
  @include font(500, 16, 20)

%head
  font-family: 'CormorantInfant', sans-serif
  @include font(700, 40, 48)
  text-transform: uppercase
