.header
  position: absolute
  top: 0
  left: 50%
  width: 100%
  padding: 25px 0
  transform: translateX(-50%)
  z-index: 2
  &--active
    background-color: $text
    transition: all 0.5s ease
  &__container
    @include fl-all

  // &__menu

  &__right
    display: flex
    align-items: center
    z-index: 1

  &__btn
    display: flex
    align-items: center
    padding: 13px 29px
    @include font(700, 20, 24)
    color: $yellow
    text-transform: uppercase
    background: $text
    svg
      fill: $yellow
      transition: fill 0.5s ease

  &__search
    position: relative
    display: flex
    align-items: center
    height: 50px
    margin-left: 50px

    &-btn
      position: absolute
      bottom: 0
      right: 0
      height: 24px
      width: 24px
      background: url(../images/icons/sprite.svg#search) center no-repeat
      fill: $bgc
      transform: translateY(-50%)
      transition: all 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26)
      cursor: pointer
      z-index: 2

    &-input
      width: 24px
      height: 100%
      background-color: transparent
      border: none
      // border-bottom: 1px solid #fff
      // padding: 20px
      // font-size: 24px
      // z-index: 2
      transition: all 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26)
      outline: none
      cursor: pointer
      z-index: 3
      &:focus
        width: 200px
        padding: 10px 30px 10px 20px
        color: $text
        background-color: $bgc
        cursor: auto
        & + .header__search-btn
          right: 5px
          background: url(../images/icons/sprite.svg#search-dark) center no-repeat
          z-index: 4
  // width: 100%



