.info
  height: 100vh
  background: linear-gradient(90.26deg, #444444 1.21%, #000000 99.77%)
  padding-top: 200px
  padding-bottom: 100px
  &__container

  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

  &__text
    flex: 1 1 39.7%
    max-width: 39.7%
    @include font(500, 18, 22)
    color: $bgc
    // height: 100%
    p:not(:last-child)
      margin-bottom: 20px

  &__arrow
    bottom: 0
    left: 18%

  &__image
    width: 499px
    padding-bottom: 600px




