.library
  &-posts
    margin-bottom: 80px
    &__wrap
      display: flex
      flex-wrap: wrap
      row-gap: 30px
      margin: 0 -15px

  // записи
  &__wrap
    flex: 1 1 50%
    min-width: 290px
    padding: 0 15px
    @media ( min-width: 992px )
      max-width: 515px
    @media ( min-width: 769px )
      max-width: 50%


  &__info
    position: relative
    display: flex
    flex-direction: column
    overflow: hidden

  &__img
    padding-bottom: 100%
    img
      transition: transform 0.5s ease-in

  &__data
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    bottom: 0
    left: 0
    width: 100%
    min-height: 150px
    padding: 20px
    color: $bgc
    background-color: rgba($black, 0.8)

  &__left
    flex: 1 1 auto
    margin-right: 25px
    font-size: 20px
    line-height: 1.2
    a
      color: $bgc
      transition: color 0.3s ease

  &__title
    margin-bottom: 10px
    font-size: 20px
    line-height: 1.2

  &__date
    font-size: 20px

  &__icon
    display: flex
    flex-direction: column
    align-items: center
    align-self: flex-end
    font-size: 16px
    line-height: 1.2
    color: $orange
    transition: color 0.3s ease
    svg
      width: 48px
      height: 48px
      fill: $orange
      transition: fill 0.3s ease

