.material
  padding: 40px 0

  &__slider
    position: relative
    background-color: $bgc
    color: $text
    overflow: hidden
  &__slide
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    // align-items: center
    // background-position: center
    // background-repeat: no-repeat
    // background-size: cover
    // width: 100%
    height: 400px
  &__name
    position: absolute
    width: calc(100% - 50px)
    bottom: 73px
    left: 50px
    // transform: translateX(-50%)
    color: $white
    @include font(700, 60, 72)
    z-index: 5
  &__info
    display: flex
    align-items: center
  &__title
    // position: relative
    @include font(700, 64, 77)
    margin-right: 50px
    flex-shrink: 0
    // text-transform: none
    // &::before
    //   position: absolute
    //   content: ""
    //   top: 0
    //   left: 100%
    //   width: 100%
    //   height: 1px
    //   background-color: #fff
  &__line
    width: 100%
    height: 2px
    background-color: $bgc
  &-btn
    font-family: 'NotoSans'
    @include font(700, 16, 19)
    color: $text !important
    margin-top: 30px
  &__img
    padding-bottom: 40%
    &::before
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(47, 47, 47, 0.4)
      opacity: 0.7
      z-index: 3
  &__nav
    margin-top: 50px
    position: relative
    height: 40px
    display: flex
    align-content: center
    justify-content: center
  &__count
    margin: 0 35px
    text-align: center
    width: 50px
    display: flex
    align-items: center
    justify-content: center
  &__btn
    height: 40px
    width: 40px
    cursor: pointer
    &-prev
      transform: rotate(90deg)
    &-fill
      width: 100%
      height: 100%
      transition: all 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26)
    &-next
      transform: rotate(-90deg)
